<div style="font-family: Nunito;">
    <div class="w-100 text-ignus pt-4">
        <div class="pl-4 pr-4 text-md-left d-inline-flex">
            <div class="pr-3">
                <img src="/assets/images/logo/logo.svg" style="width: 50px;">
            </div>
            <div>
                <b style="font-size: large; font-family: Raleway;">Epidemic Simulation </b><br/>
                <p style="font-size: normal; color: hsl(0,0%,30%)">By IITK and Purdue University, and some more information that good if it's two lines.</p>
            </div>
        </div>
    </div>

    <div class="w-100 text-ignus pt-4">
        <div id="main-graph-holder" style="min-height: 100vh;">
    </div>

    
    <div class="w-100 pl-4 pr-4 pl-sm-5 pr-sm-5 d-flex justify-content-center">
        <div style="min-height: 1200px"></div>
        
    </div>
</div>