<div style="font-family: Nunito;" ng-init="view()">
    <div class="w-100 text-ignus pt-4">
        <div class="pl-4 pr-4 text-md-left d-inline-flex">
            <div class="pr-3">
                <img src="/assets/images/logo/logo.svg" style="width: 50px;">
            </div>
            <div>
                <b style="font-size: large; font-family: Raleway;">{{text.heading}} </b><br/>
                <p style="font-size: normal; color: hsl(0,0%,30%)">{{text.subheading}} </p>
            </div>
        </div>
    </div>

    <div class="w-100 text-ignus pt-4">
        <div id="main-graph-holder" style="min-height: calc(100vh - 200px); position: relative;" ng-click="networkGraph.fullGraphClickEvents($event)" ng-keyup="networkGraph.fullGraphKeyEvents($event)" tabindex="0" ontouchstart="epidemicApp.networkGraph.handleAllTouchStarts(event)" ng-mousemove="networkGraph.mouseMove($event)">
        </div>
    </div>

    
    <div class="w-100 pl-4 pr-4 pl-sm-5 pr-sm-5" ng-include="'components/additional-parameters.html'">
        
    </div>
    
    <div class="w-100 pl-4 pr-4 pl-sm-5 pr-sm-5">
        <div style="min-height: 400px;">
            <span class="form-label-ignus mr-4 mt-5">Results from Simulation</span>
            <div id="responseHolder" class="text-ignus mt-4"></div>
        </div>
    </div>
    <div ng-include="'components/node-menu.html'">
        
    </div>

    <div ng-include="'components/addition-menu.html'">
        
    </div>

    <div ng-include="'components/edge-menu.html'">
        
    </div>
</div>