<div style="font-family: Nunito;" ng-init="view()">
    <div class="w-100 text-ignus pt-4" style="position: absolute;">
        <div class="pl-4 pr-4 text-md-left d-inline-flex">
            <div class="pr-3">
                <img src="/assets/images/logo/logo.svg" style="width: 50px;">
            </div>
            <div>
                <b style="font-size: large; font-family: Raleway;">{{text.heading}} </b><br/>
                <p style="font-size: normal; color: hsl(0,0%,30%)">{{text.subheading}} </p>
            </div>
        </div>
    </div>

    <div class="w-100 text-ignus" style="position: fixed;">
        <div id="main-graph-holder" style="min-height: calc(100vh - 200px); position: relative;" ng-click="networkGraph.fullGraphClickEvents($event)" ng-keyup="networkGraph.fullGraphKeyEvents($event)" tabindex="0" ontouchstart="epidemicApp.networkGraph.handleAllTouchStarts(event)" ng-mousemove="networkGraph.mouseMove($event);">
        </div>
    </div>

    <div class="w-100" style="min-height: 70vh;"></div>

    <div class="w-100 d-flex justify-content-center align-items-center" ng-show="simulation.canPlot" >
        <input id="timeSliderTop" type="range" style="z-index: 2;" step="1" min="{{simulation.startingTime}}" max="{{simulation.endingTime}}" ng-model="chart.currentDay" ng-change="chart.renderAtDay(chart.currentDay)"> <span class="text-ignus ml-4">Day {{chart.currentDay}}</span>
    </div>

    
    <div class="w-100"  ng-include="'components/additional-parameters.html'" style="position: relative;">
        
    </div>
    
    <div ng-include="'components/results-graphs.html'" style="position: relative;">
        
    </div>
    <div ng-include="'components/node-menu.html'">
        
    </div>

    <div ng-include="'components/addition-menu.html'">
        
    </div>

    <div ng-include="'components/edge-menu.html'">
        
    </div>
</div>

<script>
            var sliderProperties = {
                minwidth: '200px',
                width: '50%',
                height: 5,
                trackColor: "hsla(var(--themeColorHue), 60%, 70%, 0.7)",
                trackFillColor: "hsla(var(--themeColorHue), 100%, 70%, 1)",
                thumbWidth: 15,
                thumbHeight: 15,
                thumbColor: "hsla(var(--themeColorHue), 100%, 70%, 1)",
                opacity: 0.7
            };

            viewX.generateSliderStyles(sliderProperties, "timeSliderTop" );
</script>