<div style="position: fixed; bottom: 0px; right: 0px;">
    <div class="pb-2 pl-2 position-relative" style="max-width: 200px;">
        <div class="text-ignus" style="color: grey;">
            <span  ng-repeat="(additionMenuKey,additionMenu) in networkGraph.additionMenu.options">{{additionMenu.descriptionHtml}}</span>
            <span ng-show="networkGraph.additionMenu.hoveringMenu == 'addNode'">
                Add a <b style='color: hsla(var(--themeColorHue), 100%, 70%, 1)'>Node</b>
            </span>
            <span ng-show="networkGraph.additionMenu.hoveringMenu == 'addEdge'">
                Add an <b style='color: hsla(var(--themeColorHue), 100%, 70%, 1)'>Edge</b> and connect two existing nodes. To begin, click/select a node.
            </span>
        </div>
    </div>
    <div style="position: relative;" class="float-right">
        
        <div class="pr-md-5 pb-md-5 pr-4 pb-4">
            
            <div class="hs-container-outer-ignus">
                
                <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#additionButtons-HS', 70)">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#additionButtons-HS', 70)">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div id="additionButtons-HS" class="hs-container-inner-ignus" style="background: transparent;">
                    <div class="hs-container-element-ignus">
                        <button class="btn-ignus interface-button pt-2 pb-2 pl-4 pr-4 text-center">
                            <span class="pr-3" ng-show="networkGraph.additionMenu.available">
                                <i ng-repeat="(additionMenuKey, additionMenu) in networkGraph.additionMenu.options" class="fa fa-{{additionMenu.icon}} pr-4 sub-addition-button" ng-mouseover="networkGraph.additionMenu.hoveringMenu = additionMenuKey" ng-mouseleave="networkGraph.additionMenu.hoveringMenu = ''" ng-click="additionMenu.menuFunction()" ng-hide="(additionMenuKey == 'addEdge' && length(networkGraph.nodes) == 0)"></i>
                            </span>
                            <i id="sub-addition-button-plus" class="fa fa-plus sub-addition-button" style="transform: rotate({{networkGraph.additionMenu.available ? 45: 0}}deg);" ng-click="networkGraph.toggleAddMenu()"></i>

                            
                        </button>
                        
                    </div>
                    <div class="hs-container-element-ignus">
                        <button class="btn-ignus interface-button pt-2 pb-2 pl-4 pr-4">
                            <i class="fa fa-play pr-2  interface-button-icon"></i> Run
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>