<!-- <div ng-show="simulation.response != null && length(simulation.response) != 0 && !simulation.awaitingResponse && !simulation.awaitingResponseFailure"> -->
<div>
    <div class="hs-container-outer-ignus pl-5 pr-5 pt-5 pb-3">
        <div class="d-none d-sm-flex hs-container-left-button-ignus" onclick="ignusTheme.hsMoveLeft('#theHSForWorkflowTabs', 70)">
            <i class="fa fa-angle-left"></i>
        </div>
        <div class="d-none d-sm-flex hs-container-right-button-ignus" onclick="ignusTheme.hsMoveRight('#theHSForWorkflowTabs', 70)">
            <i class="fa fa-angle-right"></i>
        </div>
        <div id="theHSForWorkflowTabs" class="hs-container-inner-ignus" style="background: none;">
            <div class="hs-container-element-ignus" ng-repeat="(workflowKey, workflowTab) in workflows.tabs">
                <div class="pl-3 pt-2 mr-5" style="font-size: 18px; font-family: Raleway; {{workflowKey == workflows.currentTab ? 'color: hsla(var(--themeColorHue), 100%, 90%, 1);' : 'color: grey;'}}; cursor: pointer; transition: color 0.3s ease; user-select: none;" ng-click="workflows.currentTab = workflowKey">
                    <b>{{workflowTab.name}}</b>
                </div>
                
            </div>
        </div>
    </div>




</div>